ul {
	display: flex;
	list-style-type: none;
	text-align: center;
	padding: 15px 15%;
}

@media(max-width: 680px){
	ul {
		flex-direction: column;
	}

	li {
		flex: 1;
		margin-bottom: 15px;
	}
}

li {
	flex: 1;
}

li .anchor{
	text-decoration: none;
	text-transform: uppercase;
}