.container {
	display: flex;
	flex-direction: column;
}

.input {
	font-family: 'Montserrat', sans-serif;
	padding: 15px;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
    border: 1px solid #ccc;
    border-radius: 23px;
	-webkit-transition: border-radius 0.4s;
	flex: 1;
}

.inputOpen {
	border-radius: 0px;
    box-shadow: 0 4.5px 5.5px 0 rgba(0, 0, 0, .2);
    -webkit-transition: border-radius 0.4s;
}

.inputFocused {
    outline: none;
    box-shadow: 0 4.5px 5.5px 0 rgba(0, 0, 0, .2);
}
.suggestionsContainer {
	display: flex;
    box-shadow: 0 4.5px 5.5px 0 rgba(0, 0, 0, .2); 
	
}
.suggestionsContainer ul{
	padding: 0px;
}
.suggestionsList {
	flex: 1;
	display: flex;
	flex-direction: column;
	background-color: white;
	text-align: left;
}

.suggestion {
	font-size: 13px;
	flex:1;
	padding: 10px;
}

.suggestionHighlighted {
	background-color: #7a56a3;
	color: white;
}   
